@model ASPBanHangOnline.Models.News

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLogin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>News</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsPhoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsPhoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalLike)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalLike)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Admin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Admin.AccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsNew)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsNew)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDisplay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDisplay)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NewsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
